body {
	font-family: 'Montserrat', sans-serif, 'Sacramento', cursive;
}
.credits {
	font-size: 0.7rem;
	word-spacing: 2px;
}
.login {
	position: absolute;
	right: 0;
}
.loginbtn {
	position: absolute;
	top: 12px;
	right: 85px;
}
.btn {
	margin: 2px auto 2px;
}
#container {
	position: relative;
	top: 20px;
}
#index {
	width: 240px;
	height: 100%;
	margin-left: 50px;
	position: -webkit-sticky;
	position: sticky;
	top: 20px;
}
#index a {
	display: block;
	text-decoration: none;
	color: black;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
}
#index a:hover {
	background-color: #0080F6;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	color: #eee;
}
#content {
	margin: auto;
	padding: 0 30px;
	height: 100%;
	width: 750px;
}
#content div {
	background-color: #f8f9fa;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 10px;
}
#content div p {
	text-align: justify;
	font-size: small;
	margin-top: 15px;
}
.float-end div {
	padding: 20px 30px 10px;
	margin-bottom: 20px;
}
option {
	padding-top: 30px !important;
}
