body {
	font-family: 'Montserrat', sans-serif, 'Sacramento', cursive;
}
.credits {
	font-size: 0.7rem;
	word-spacing: 2px;
}
.login {
	position: absolute;
	right: 0;
}
.loginbtn {
	position: absolute;
	top: 12px;
	right: 85px;
	width: 17rem;
}
.btn {
	margin: 2px auto 2px;
}
#container {
	position: relative;
	top: 20px;
}
#index {
	width: 240px;
	height: 100%;
	margin-left: 50px;
	position: -webkit-sticky;
	position: sticky;
	top: 20px;
}
#index a {
	display: block;
	text-decoration: none;
	color: black;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
}
#index a:hover {
	background-color: #0080F6;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	color: #eee;
}
#content {
	margin: auto;
	padding: 0 30px;
	height: 100%;
	width: 750px;
}
#content div {
	background-color: #f8f9fa;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 10px;
}
#content div p {
	text-align: justify;
	font-size: small;
	margin-top: 15px;
}
.float-end div {
	padding: 20px 30px 10px;
	margin-bottom: 20px;
}
option {
	padding-top: 30px !important;
}
.sidepanel {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #eee;
	overflow-x: hidden;
	padding-top: 50px;
	transition: 0.5s;
 }
 
 /* The sidepanel links */
 .sidepanel a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 15px;
	color: #111;
	display: block;
	transition: 0.3s;
 }
 
 /* When you mouse over the navigation links, change their color */
 .sidepanel a:hover {
	background-color: #0080F6;
	color: #fff;
 }
 
 /* Position and style the close button (top right corner) */
 .sidepanel .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	color: #bbb;
 }
 
a.closebtn:hover {
	background-color: transparent;
	color: #000;
}
 /* Style the button that is used to open the sidepanel */
.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #fff;
	color: #aaa;
	padding: 5px 15px;
	border: solid #888 1px;
	border-radius: 10px;
}
 
.openbtn:hover {
	background-color: #eee;
	color: #444;
}
